$bg-body: #121212;
$text-color: #00ff88;
$font-family: "Courier New", monospace;
$terminal-bg: #1a1a1a;
$terminal-header-bg: #2b2b2b;
$shadow-color: rgba(0, 255, 136, 0.2);
$dot-red: #ff5f56;
$dot-yellow: #ffbd2e;
$dot-green: #27c93f;
$accent: #00ffaa;


:root{

}

